---
layout: page
title: Meet the Challengers
---

{% for candidate in site.data.candidates %}
<div class='candidate'>
  <img src='{{site.url}}/images/candidates/{{candidate.slug}}-thumb.jpg' class='candidate'/>
  <h3><b><a href="/candidates/{{candidate.slug}}/">{{ candidate.name }}</a></b></h3>
  {{candidate.position}}
  <p><em>{{candidate.home}}</em></p>
  <div id='candidate-background'>
    <h4>Previous Position</h4>
    {{candidate.previous}}
    <!-- <ul class='candidate-background'>
    {% for background in candidate.background %}
      <li class='candidate-background'>{{background}}</li>
    {% endfor %}
    </ul> -->
  </div>
  <div id onerror=""='candidate-highlights'>
    <h4>Highlights</h4>
    <ul>
    {% for highlight in candidate.highlights %}
      <li>{{highlight}}</li>
    {% endfor %}
    </ul>
  </div>
  <a href='/candidates/{{candidate.slug}}/' class='read-more-candidate'>Read More</a>
</div>
{% endfor %}
