---
layout: page
title: Potential Candidates
---


<div id='promotion'>
  <h3>Did You Know?</h3>
  60% of Comstock's Contributions Come from Outside her District

  <div class='source'>
    Source: <a href='https://www.opensecrets.org/politicians/geog.php?cycle=2016&cid=N00036023&type=I'>Open Secrets</a>
  </div>
</div>

<h2>Meet the Likely Candidates</h2>

<br/>
Comstock pretends to be a moderate but the people who fund her campaign know better.
<br/><br/>

{% for candidate in site.data.candidates %}
<div class='candidate'>
  <img src='{{site.url}}/images/candidates/{{candidate.image}}' class='candidate'/>
  <h3><b>{{ candidate.name }}</b></h3>
  {{candidate.position}}
  <h4>Background</h4>
  <ul class='candidate-background'>
  {% for background in candidate.background %}
    <li class='candidate-background'>{{background}}</li>
  {% endfor %}
  </ul>
  <div id='candidate-highlights'>
    <h4>Highlights</h4>
    <ul>
    {% for highlight in candidate.highlights %}
      <li>{{highlight}}</li>
    {% endfor %}
    </ul>
  </div>
  <!-- <div style="clear:left"/> -->
</div>
{% endfor %}
