<div id='promotion'>
  <h3>She Should Run</h3>
  <p>Jennifer Wexton would be a very tough opponent for Barbara Comstock. Please help us by contacting her office today and encourage her to run!</p>
  <ul>
    <li>(703)672-3696</li>
    <li><a href='mailto:info@wextonforstatesenate.com'>info@wextonforstatesenate.com</a></li>
    <li><a href='mailto:district33@senate.virginia.gov'>district33@senate.virginia.gov</a></li>
    <li><a href='https://twitter.com/SenatorWexton'>@SenatorWexton</a> #va10 #sheshouldrun</li>
  </ul>
  <!-- <a href="/mailing-list/" class="action-link">Sign Up</a> -->
</div>
