{% if page.sidebar != null %}
<div class="navigation">
  {{ page.sidebar }}
</div>
{% endif %}

<div class="navigation">
  <h3>Get Involved</h3>
  <ul>
    <li>
      <i class="fa fa-users fa-fw"></i>
      <a href='/get-involved'>Volunteer</a>
    </li>
    <li>
      <i class="fa fa-usd fa-fw"></i>
      <a href='https://secure.actblue.com/contribute/page/takebackthetenth' target='_blank'>Donate</a>
    </li>
    <li>
      <i class="fa fa-envelope fa-fw"></i>
      <a href='/mailing-list'>Mailing List</a>
    </li>
    <li>
      <i class="fa fa-calendar fa-fw"></i>
      <a href='/events'>Events</a>
    </li>
  </ul>
</div>
<div class="navigation">
  <h3>Social Media</h3>
  <ul class="menu">
    <li>
      <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
      <a href="https://www.facebook.com/groups/dumpcomstock" target='_blank'>
        Facebook
      </a>
    </li>
    <li>
      <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
      <a href="https://twitter.com/dumpcomstock" target='_blank'>
        Twitter
      </a>
    </li>
    <li>
      <i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
      <a href="https://www.instagram.com/dumpcomstock/" target='_blank'>
        Instagram
      </a>
    </li>
    <li>
      <i class="fa fa-youtube fa-fw" aria-hidden="true"></i>
      <a href="https://www.youtube.com/channel/UCb4v-RW8jOnbUstwpPxA3jQ/" target='_blank'>
        YouTube
      </a>
    </li>
    <li>
      <i class="fa fa-slack fa-fw" aria-hidden="true"></i>
      <a href="//slack.dumpcomstock.com/" target='_blank'>
        Slack
      </a>
    </li>
    <li>
      <i class="fa fa-soundcloud fa-fw" aria-hidden="true"></i>
      <a href="https://soundlcoud.com/dumpcomstock" target='_blank'>
        SoundCloud
      </a>
    </li>
  </ul>
</div>

{% include timer.html %}
