{% if page.sidebar != null %}
<div class="navigation">
  {{ page.sidebar }}
</div>
{% endif %}

<div class="navigation">
  <h3>Get Involved</h3>
  <ul>
    <li>
      <i class="fa fa-users fa-fw"></i>
      <a href='/get-involved'>Volunteer</a>
    </li>
    <li>
      <i class="fa fa-envelope fa-fw"></i>
      <a href='/mailing-list'>Mailing List</a>
    </li>
  </ul>
</div>

<div class="navigation">
  <h3>Social Media</h3>
  <ul class="menu">
    <li>
      <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
      <a href="https://www.facebook.com/groups/dumpcomstock" target='_blank'>
        Facebook
      </a>
    </li>
    <li>
      <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
      <a href="https://twitter.com/dumpcomstock" target='_blank'>
        Twitter
      </a>
    </li>
    <li>
      <i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
      <a href="https://www.instagram.com/dumpcomstock/" target='_blank'>
        Instagram
      </a>
    </li>
  </ul>
</div>

{% include timer.html %}
