<meta property='fb:app_id' content='1857793184477645'/>
<meta property='og:title' content="{{page.title}}"/>
<meta property='og:url' content="{{ site.url }}{{ page.url | replace: 'index.html', '' }}"/>
<meta property='og:type' content='article'/>
<meta name="twitter:site" content="@dumpcomstock"/>
<meta name="twitter:title" content="{{page.title}}"/>
<meta name="twitter:card" content="summary_large_image"/>

{% if page.location %}
  <meta property='og:image' content='{{site.url}}/images/events/{{page.social-image}}'/>
  <meta property='og:description' content="{{page.description}}"/>
  <meta name="twitter:image" content="{{site.url}}/images/events/{{page.social-image}}"/>
  <meta name="twitter:description" content="{{page.description}}"/>
{% elsif page.snippet %}
  <meta property='og:image' content='{{site.url}}/images/news/{{page.image}}'/>
  <meta property='og:description' content="{{page.snippet}}"/>
  {% if page.image %}
  <meta name="twitter:image" content="{{site.url}}/images/news/{{page.image}}"/>
  {% else %}
  <meta name="twitter:image" content="{{site.url}}/images/dumpcomstock-logo-preview2.png"/>  
  {% endif %}
  <meta name="twitter:description" content="{{page.description}}"/>
{% else %}
  <meta property='og:image' content='{{site.url}}/images/dumpcomstock-logo-preview2.png'/>
  <meta property='og:description' content='Dedicated to removing Barbara Comstock from political office on November 6, 2018.'/>
  <meta name="twitter:image" content="{{site.url}}/images/dumpcomstock-logo-preview2.png"/>
  <meta name="twitter:description" content='Dedicated to removing Barbara Comstock from political office on November 6, 2018.'/>
{% endif %}
