---
layout: voting
title: Voting Record
---

<div style="overflow-x:auto;">
  <table class="voting-record">
    <tr>
      <th class="bill">Bill</th>
      <th class="trump-position">Trump Position</th>
      <th class="comstock-position">Comstock Vote</th>
      <th class="date">Date</th>
    </tr>
    {% for vote in site.data.votes %}
      {% if vote.comstock_vote == "Yes" and vote.trump_position == "Supports" %}
        {% assign styles = "aligned" %}
      {% endif %}
      <tr class="vote">
        <td class="bill">
          <a href="{{ vote.bill_url }}">
            {{ vote.bill }}
          </a>
        </td>
        <td class="trump-position {{ vote.trump_position | strip | downcase }}">
          <div>
            {{ vote.trump_position }}
          </div>
        </td>
        <td class="comstock-position {{ vote.comstock_vote | strip | downcase }}">
          <div class="{{styles}}">
            {{ vote.comstock_vote }}
          </div>
        </td>
        <td class="date">
          <div>
            {{vote.date}}
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

<!-- <br/>
<br/>

{% for vote in site.data.votes %}
  <div class="vote">
    <a class="bill-title" href="{{ vote.bill_url }}" target="_blank">{{ vote.bill }}</a>
    <a class="trump-position support" target="_blank">{{ vote.trump_position }}</a>
    <span class='trump-position'>{{ vote.trump_position }}<span>
    <span class='comstock-vote'>{{ vote.comstock_vote }}</span>
    <span class="date">Feb. 8</span>
  </div>
{% endfor %} -->
