---
---

.voting-record {
  $support-color: rgb(68, 171, 67);
  $oppose-color: #ff3d3d;

  font-size: 14px;
  a { text-decoration: none; }

  td, th {
    padding: 8px;
  }
  th {
    text-transform: uppercase;
  }

  a div {
    color: black;
  }
  .trump-position, .comstock-position, .date {
    text-align: center;
  }

  .bill {
    border-right: 1px solid #999;
  }

  td {
    border-top: 2px solid #f0f0f0;
    div {
      margin: 0 auto;
    }
  }

  .trump-position, .comstock-position {
    min-width: 140px;
  }
  .date {
    min-width: 80px;
  }

  .comstock-position, .trump-position {
    div {
      width: 80px;
      text-align: center;
      border-radius: 8px;
      border: 1px solid #CCC;
      padding: 6px;
      font-weight: bold;
    }
  }
  .comstock-position.yes, .trump-position.supports {
    div {
      background-color: $support-color;
      &:hover {
        background-color: lighten($support-color, 20%);
      }
    }
  }
  .comstock-position.no,
  .trump-position.against,
  .trump-position.opposed,
  .trump-position.opposes {
    div {
      background-color: $oppose-color;
      &:hover {
        background-color: lighten($oppose-color, 20%);
      }
    }
  }

  @media screen and (max-width: 480px) {
    td, th {
      padding: 4px;
    }
    .date { display: none; }
    .trump-position, .comstock-position, .date {
      min-width: auto;
    }
    .comstock-position, .trump-position {
      div {
        padding: 6px;
      }
    }
  }

}
