---
layout: default
---

<div id="content-wrapper">

  <div id='promotion'>
    <h3>This Candidate has not Announced Yet</h3>
    It is still too early for candidates to announce their intentions but that doesn't stop us from learning more about them while we wait.
  </div>

  {% include title.html %}

  <div id="content" class='candidate-detail'>
    {{ content }}
  </div>
</div>
<hr class="hidden-modern" />

<div id="sidebar-wrapper">
  <div id="sidebar">
    {% include sidebar.html %}
  </div>
</div>
<hr class="hidden-modern" />
