---
layout: default
---

<div id="content-wrapper">

  <div id='promotion'>
    <h3>This Candidate has not Announced Yet</h3>
    Her positions on the issues were researched using primarily her State Senate campaign website which is somewhat dated (2015).
  </div>

  {% include title.html %}

  <div id="content" class='candidate-detail'>
    {{ content }}
  </div>
</div>
<hr class="hidden-modern" />

<div id="sidebar-wrapper">
  <div id="sidebar">
    {% include sidebar.html %}
  </div>
</div>
<hr class="hidden-modern" />
