---
layout: default
---

<div id="content-wrapper">
  <div id="content" class='event-post'>

    {% if page.actionslug %}
      <link href='https://actionnetwork.org/css/style-embed.css' rel='stylesheet' type='text/css' />
      {% if page.form %}
        <script src='https://actionnetwork.org/widgets/v2/form/{{page.actionslug}}?format=js&source=widget'></script>
        <div id='can-form-area-{{page.actionslug}}' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
      {% else %}
        <script src='https://actionnetwork.org/widgets/v2/event/{{page.actionslug}}?format=js&source=widget'></script>
        <div id='can-event-area-{{page.actionslug}}' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
      {% endif %}
    {% endif %}

  </div>
</div>
<hr class="hidden-modern" />

<div id="sidebar-wrapper">
  <div id="sidebar">
    {% include sidebar.html %}
  </div>
</div>
