---
layout: default
index: none
---

<div id="content-wrapper">
  <div id="content">
    {% for post in site.posts limit:10 %}
      {% include news_preview.html %}
    {% endfor %}
  </div>
</div>
<hr class="hidden-modern" />

<div id="sidebar-wrapper">
  <div id="sidebar">
    <div class="navigation">
      <h3><strong>{{ locales.yearly_archives }}</strong></h3>

      <ul class="menu">
      {% for year in page.years %}
      <li><a href="{{ year[0] }}/">{{ year[1] }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
<hr class="hidden-modern" />
